In [1]:
#print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
#print range 10 to 20
for i in range(10,20):
    print(i ,end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
list =[10,20,14,55,43,87,76]
print(list)
print("Number of items in the List2:")
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:
7

In [9]:
name="Artifical Intelligence"
print(name)

for c in name:
    print(c)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [11]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [13]:
tuple1=(1,'Welcome',2,'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [15]:
Tuple1 =(0,1,2,3)
Tuple2=('python','HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
#print odd Numbers in the list

In [22]:
tuple1=(20,10,16,19,25,1,276,188)
print(tuple1)

for i in tuple1:
    if( (i % 2) !=0):
        print( i,'is odd')

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [ ]:
#print Even numbers in the list

In [23]:
tuple1=(20,10,16,19,25,1,276,188)
print(tuple1)

for i in tuple1:
    if( (i % 2) ==0):
        print( i,'is even')

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even